html {font-family: 'Playfair Display', serif;}

body {height: 300vh; margin: 0;} 
 
header {background-color: #24272a; height: 80px;}

main {background-color: #FFC274; height: fit-content;}   
     /*{background: linear-gradient(180deg, #ffff8a 0, #ffff7d 12.5%, #fff572 25%, #ffd968 37.5%, #ebbc5e 50%, #d4a055 62.5%, #bf894e 75%, #ac7549 87.5%, #9b6544 100%); height: 1450px;}*/

footer {background-color: #24272a;} /*height: 15vh;*/


.nav {
    display: flex;
    justify-content: space-between;
  
    max-width: 992px;
    margin: 0 auto;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .logo {
    font-size: 30px;
    font-family: 'Vollkorn', serif;
    padding: 0 40px;
    line-height: 80px;
  }
  
  .nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color:#9c6d5d;
    transition: 0.5s;
  }

  .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    font-family: 'ABeeZee', sans-serif;
    display: none;
  }


.container-general {display: flex;
    justify-content: center; 
    flex-wrap: wrap; margin-right: 50px;}

.grid-container {display: inline-grid; 
            grid-template-columns: auto;
            background-color: whitesmoke;
            padding: 20px;
            border: 2px solid #D84205;
            margin: 20px;
            grid-gap: 30px;
            width: 300px;}
    
.grid-item {text-align: center;}
     
.grid-item-foto {position: center;  
                 padding: 8px; 
                 margin: 10px; 
                 border: 1.5px solid black; 
                 width: 250px; 
                 height: 167px;
                 overflow: hidden;
                 border-image: fill;}
                                                         
                 
.grid-item-foto:hover {-webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d; transition-duration: 1.5s;}

.Chef {display: flex;
    justify-content: center;}    
                 
h1  {text-align: center; 
    /*font-size: xx-large; font-weight: 800;*/ 
    margin: 0 10px 10px 10px;}

h2 {text-align: center; margin-top: 1px; border: 2px solid black; 
    margin: 6px; padding: 2px;}

h3 {text-align: center;}

h4 {text-align: center; font-weight: 200;}    


.pie-pagina{
  width: 100%;
  background-color: #24272a; 
  margin-top: 50px;
}
.pie-pagina .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin:auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px, 0px;

}

.pie-pagina .grupo1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo1 .box figure img {
  width: 250px;
  box-shadow: none;
  padding-bottom: 20px;
}

.pie-pagina .grupo1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
  padding-top: 20px;
}
.pie-pagina .grupo1 .box p {
  color: #efefef;
  margin-bottom: 10px;

}
.pie-pagina .grupo1 .redsocial a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #D8D8D8;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 3s ease;
}

